/* Common Styles */

:root {
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --info-color: #5A5A5D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

a{
    color: unset;
    text-decoration: none;
}

.container {
    width: 81.25%;
    max-width: 1170px;
    margin: 0 auto;
}

.description, .section-description {
    color: var(--info-color);
    line-height: 26px;
}

.section-description{
    width: 60%;
    margin: 0 auto;
}

.description p{
    margin-bottom: 24px;
}

.description ul{
    margin-left: 2rem;
    margin-bottom:24px ;
}

.description ul li{
    margin-bottom: 16px;
}

.description ul li:last-child{
    margin-bottom: 0;
}

.description p:last-child{
    margin-bottom: 0;
}

.btn-primary {
    border-radius: 8px;
    background: var(--primary-color);
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 35px;
}

.section-title {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-center{
    text-align: center;
}

/* Nav Style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.navbar .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.navbar .brand h1 {
    color: var(--secondary-color);
    font-size: 2.25rem;
    font-weight: 800;
}

.navbar .nav-items {
    display: flex;
    gap: 44px;
    list-style: none;
}

.navbar .nav-items .nav-item {
    color: #424247;
    font-size: 18px;
}

.navbar .nav-items .active {
    color: var(--primary-color);
    font-weight: 700;
}

.navbar .toggler{
    display: none;
}


/* Banner Styles */

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/banner-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container {
    padding: 106px 185px;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-container .description{
    color: #fff;
    margin-bottom: 48px;
}

.banner-form-container{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.banner-form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.banner-form input[type="text"], .banner-form select{
    padding: 16px;
    border: 0;
    border-radius:8px;
}

.banner-form .btn-primary{
    font-size: 16px;
    font-weight: 700;
}

.banner-form .form-item{
    width: 100%;
}

.banner-form input::placeholder, .banner-form select{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
}

.banner-form .form-select{
    position: relative;
}

.banner-form .form-select i{
    position: absolute;
    color: rgba(19, 19, 24, 0.50);
    font-size: 20px;
    top:14px;
    right: 14px;
}

.banner-form select{
    appearance: none;
}

.banner-form button.form-item{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}


/* Main section Style */

main section{
    margin-top: 100px;
}

/* Popular Tour Section Styles */

.popular{
    display: flex;
    gap: 50px;
    align-items: center;
}

.popular .description{
    margin-bottom: 32px;
}

.popular .popular-col{
    flex: 1;
}

.popular-img{
    width: 100%;
}

/* Destination Section Style */

.section-description{
    width: 60%;
    margin: 0 auto;
}

.destination .location-container{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.location{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), var(--location), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    padding: 125px 0;
}


.location-container .location-1{
    grid-column: span 6;
}

.location-container .location-2{
    grid-column: span 6;
}

.location-container .location-3{
    grid-column: span 4;
}

.location-container .location-4{
    grid-column: span 5;
}

.location-container .location-5{
    grid-column: span 3;
}

.location-container .location-6{
    grid-column: span 5;
}

.location-container .location-7{
    grid-column: span 7;
}

/* Why choose us section style */

.chooseUS-reason-container{
    margin-top: 2.875rem;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.reason{
    width: calc((100% - 24px) / 2);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    padding: 32px;
    border-radius: 16px;
}

.reason img{
    width: 64px;
    margin-bottom: 32px;
}

.reason .section-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Responsive Style */


/* extra large Screen */

@media screen and (max-width:1400px){
    .container{
        width: 90%;
    }
}

/* Large Screens */

@media screen and (max-width: 1200px) {
    .banner-container{
        padding: 100px;
    }
}

/* Medium Screen */
@media screen and (max-width:992px){
    .navbar{
        flex-direction: column;
        gap: 20px;
    }

    .banner-form{
        grid-template-columns: repeat(3, 1fr);
    }

    .banner-form .form-item:last-child{
        grid-column: span 3;
    }

    .section-description{
        width: 100%;
    }

    .destination .location-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .location-container .location {
        grid-column: span 1 !important;
    }
}

/* Small Screen */

@media screen and (max-width:768px){
    .banner-form{
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-form .form-item:first-child{
        grid-column: span 2;
    }

    .banner-form .form-item:last-child{
        grid-column: span 2;
    }

    /* Popular Tour Section */

    .popular{
        flex-direction: column;
        gap: 24px;
    }

    .popular .description{
        margin-bottom: 24px;
    }
}

/* Mobile Devices */

@media screen and (max-width: 576px) {

    /* Common Styles for Mobile */
    body {
        font-size: 0.875rem;
    }

    .container{
        width: 90%;
    }

    .description {
        color: var(--info-color);
        line-height: 24px;
    }
    
    .description p{
        margin-bottom: 16px;
    }
    
    .description ul{
        margin-left: 2rem;
        margin-bottom:16px ;
    }
    
    .description ul li{
        margin-bottom: 12px;
    }

    .section-title{
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    

    /* Navbar Mobile Design */

    .navbar{
        flex-direction: row;
    }

    .navbar .toggler{
        display: block;
    }

    .navbar .nav-items{
        display: none;
    }

    .navbar .brand h1{
        font-size: 1.75rem;
    }

    .navbar .brand img{
        width: 2.25rem;
    }

    .navbar .toggler .toggler-icon{
        font-size: 1.5rem;
    }

    /* Main Mobile Design */

    main section{
        margin-top: 24px;
    }

    /* Banner Mobile Design */

    .banner-container{
        padding: 32px;
    }

    .banner-title{
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    .banner-container .description{
        margin-bottom: 32px;
    }

    .banner-form{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .banner-form .form-item:first-child{
        grid-column: span 1;
    }

    .banner-form .form-item:last-child{
        grid-column: span 1;
    }

    /* Destination Section Mobile Design */

    .destination .location-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .location-container .location {
        grid-column: span 1 !important;
    }

    /* Why choose use Mobile Design */

    .chooseUS-reason-container{
        flex-direction: column;
    }

    .reason{
        width: 100%;
    }

    .reason img{
        width: 48px;
        margin-bottom: 16px;
    }
    
    .reason .section-title{
        font-size: 1.25rem;
    }
    
}